USE [master]
GO
/****** Object:  Database [BarInventoryDB]    Script Date: 08.06.2026 14:22:26 ******/
CREATE DATABASE [BarInventoryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BarInventoryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BarInventoryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BarInventoryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BarInventoryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BarInventoryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BarInventoryDB]
GO
/****** Object:  User [igor]    Script Date: 08.06.2026 14:22:26 ******/
CREATE USER [igor] FOR LOGIN [igor] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ApJlukun]    Script Date: 08.06.2026 14:22:26 ******/
CREATE USER [ApJlukun] FOR LOGIN [ApJlukun] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 08.06.2026 14:22:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CocktailIngredients]    Script Date: 08.06.2026 14:22:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CocktailIngredients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CocktailId] [int] NOT NULL,
	[IngredientId] [int] NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cocktails]    Script Date: 08.06.2026 14:22:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cocktails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 08.06.2026 14:22:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[CategoryId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceItems]    Script Date: 08.06.2026 14:22:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[IngredientId] [int] NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 08.06.2026 14:22:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceiptItems]    Script Date: 08.06.2026 14:22:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceiptItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptId] [int] NOT NULL,
	[IngredientId] [int] NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[CocktailId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipts]    Script Date: 08.06.2026 14:22:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RevisionItems]    Script Date: 08.06.2026 14:22:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RevisionItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RevisionId] [int] NOT NULL,
	[IngredientId] [int] NOT NULL,
	[SystemQuantity] [decimal](18, 2) NOT NULL,
	[ActualQuantity] [decimal](18, 2) NOT NULL,
	[Discrepancy] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Revisions]    Script Date: 08.06.2026 14:22:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Revisions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ProcessedAt] [datetime] NULL,
	[CreatedByUserId] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 08.06.2026 14:22:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 08.06.2026 14:22:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Алкогольный напиток')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Безалкогольный напиток')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'Приправа')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[CocktailIngredients] ON 

INSERT [dbo].[CocktailIngredients] ([Id], [CocktailId], [IngredientId], [Quantity]) VALUES (2, 1, 1, CAST(0.10 AS Decimal(18, 2)))
INSERT [dbo].[CocktailIngredients] ([Id], [CocktailId], [IngredientId], [Quantity]) VALUES (3, 1, 108, CAST(0.30 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[CocktailIngredients] OFF
GO
SET IDENTITY_INSERT [dbo].[Cocktails] ON 

INSERT [dbo].[Cocktails] ([Id], [Name]) VALUES (1, N'Отвертка 400мл')
SET IDENTITY_INSERT [dbo].[Cocktails] OFF
GO
SET IDENTITY_INSERT [dbo].[Ingredients] ON 

INSERT [dbo].[Ingredients] ([Id], [Name], [Quantity], [Unit], [CategoryId]) VALUES (1, N'Водка', CAST(57.00 AS Decimal(18, 2)), N'л', 1)
INSERT [dbo].[Ingredients] ([Id], [Name], [Quantity], [Unit], [CategoryId]) VALUES (2, N'Джин', CAST(11.00 AS Decimal(18, 2)), N'л', 1)
INSERT [dbo].[Ingredients] ([Id], [Name], [Quantity], [Unit], [CategoryId]) VALUES (3, N'Ром белый', CAST(7.70 AS Decimal(18, 2)), N'л', 1)
GO
SET IDENTITY_INSERT [dbo].[Ingredients] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceItems] ON 

INSERT [dbo].[InvoiceItems] ([Id], [InvoiceId], [IngredientId], [Quantity]) VALUES (7, 1, 1, CAST(50.00 AS Decimal(18, 2)))
INSERT [dbo].[InvoiceItems] ([Id], [InvoiceId], [IngredientId], [Quantity]) VALUES (8, 1, 9, CAST(20.00 AS Decimal(18, 2)))
INSERT [dbo].[InvoiceItems] ([Id], [InvoiceId], [IngredientId], [Quantity]) VALUES (9, 1, 10, CAST(20.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[InvoiceItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([Id], [CreatedAt], [CreatedBy], [Status]) VALUES (1, CAST(N'2026-05-20T16:46:14.8300904' AS DateTime2), 1, N'Проведена')
INSERT [dbo].[Invoices] ([Id], [CreatedAt], [CreatedBy], [Status]) VALUES (2, CAST(N'2026-05-20T16:55:20.3093998' AS DateTime2), 1, N'Проведена')
INSERT [dbo].[Invoices] ([Id], [CreatedAt], [CreatedBy], [Status]) VALUES (3, CAST(N'2026-05-20T18:29:15.0297519' AS DateTime2), 1, N'Не проведена')
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[ReceiptItems] ON 

INSERT [dbo].[ReceiptItems] ([Id], [ReceiptId], [IngredientId], [Quantity], [CocktailId]) VALUES (1, 1, 1, CAST(5.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[ReceiptItems] ([Id], [ReceiptId], [IngredientId], [Quantity], [CocktailId]) VALUES (2, 2, 1, CAST(5.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[ReceiptItems] ([Id], [ReceiptId], [IngredientId], [Quantity], [CocktailId]) VALUES (3, 3, 1, CAST(10.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[ReceiptItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Receipts] ON 

INSERT [dbo].[Receipts] ([Id], [UserId], [CreatedAt]) VALUES (1, 1, CAST(N'2026-05-20T16:49:18.2509704' AS DateTime2))
INSERT [dbo].[Receipts] ([Id], [UserId], [CreatedAt]) VALUES (2, 1, CAST(N'2026-05-20T16:54:55.4821123' AS DateTime2))
INSERT [dbo].[Receipts] ([Id], [UserId], [CreatedAt]) VALUES (3, 1, CAST(N'2026-05-20T18:55:17.8358510' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Receipts] OFF
GO
SET IDENTITY_INSERT [dbo].[RevisionItems] ON 

INSERT [dbo].[RevisionItems] ([Id], [RevisionId], [IngredientId], [SystemQuantity], [ActualQuantity], [Discrepancy]) VALUES (1, 1, 1, CAST(56.00 AS Decimal(18, 2)), CAST(58.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)))
INSERT [dbo].[RevisionItems] ([Id], [RevisionId], [IngredientId], [SystemQuantity], [ActualQuantity], [Discrepancy]) VALUES (2, 1, 2, CAST(11.30 AS Decimal(18, 2)), CAST(11.00 AS Decimal(18, 2)), CAST(-0.30 AS Decimal(18, 2)))
INSERT [dbo].[RevisionItems] ([Id], [RevisionId], [IngredientId], [SystemQuantity], [ActualQuantity], [Discrepancy]) VALUES (3, 1, 3, CAST(7.70 AS Decimal(18, 2)), CAST(7.70 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[RevisionItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Revisions] ON 

INSERT [dbo].[Revisions] ([Id], [CreatedAt], [ProcessedAt], [CreatedByUserId], [Status]) VALUES (1, CAST(N'2026-05-21T15:34:18.367' AS DateTime), CAST(N'2026-05-21T15:34:27.783' AS DateTime), 1, N'Проведена')
SET IDENTITY_INSERT [dbo].[Revisions] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (3, N'Admin')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Barmen')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Manager')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Login], [PasswordHash], [RoleId]) VALUES (1, N'admin', N'admin', 3)
INSERT [dbo].[Users] ([Id], [Login], [PasswordHash], [RoleId]) VALUES (2, N'ivanov', N'hello', 1)
INSERT [dbo].[Users] ([Id], [Login], [PasswordHash], [RoleId]) VALUES (3, N'petrova', N'peanut', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__737584F62F9515CC]    Script Date: 08.06.2026 14:22:27 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825B7E17CC51]    Script Date: 08.06.2026 14:22:27 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ingredients] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (N'Не проведена') FOR [Status]
GO
ALTER TABLE [dbo].[Receipts] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Revisions] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CocktailIngredients]  WITH CHECK ADD  CONSTRAINT [FK_CocktailIngredients_Cocktails] FOREIGN KEY([CocktailId])
REFERENCES [dbo].[Cocktails] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CocktailIngredients] CHECK CONSTRAINT [FK_CocktailIngredients_Cocktails]
GO
ALTER TABLE [dbo].[CocktailIngredients]  WITH CHECK ADD  CONSTRAINT [FK_CocktailIngredients_Ingredients] FOREIGN KEY([IngredientId])
REFERENCES [dbo].[Ingredients] ([Id])
GO
ALTER TABLE [dbo].[CocktailIngredients] CHECK CONSTRAINT [FK_CocktailIngredients_Ingredients]
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_Ingredients_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Ingredients] CHECK CONSTRAINT [FK_Ingredients_Categories]
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceItems_Ingredients] FOREIGN KEY([IngredientId])
REFERENCES [dbo].[Ingredients] ([Id])
GO
ALTER TABLE [dbo].[InvoiceItems] CHECK CONSTRAINT [FK_InvoiceItems_Ingredients]
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceItems_Invoices] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceItems] CHECK CONSTRAINT [FK_InvoiceItems_Invoices]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Users]
GO
ALTER TABLE [dbo].[ReceiptItems]  WITH CHECK ADD  CONSTRAINT [FK_ReceiptItems_Cocktails] FOREIGN KEY([CocktailId])
REFERENCES [dbo].[Cocktails] ([Id])
GO
ALTER TABLE [dbo].[ReceiptItems] CHECK CONSTRAINT [FK_ReceiptItems_Cocktails]
GO
ALTER TABLE [dbo].[ReceiptItems]  WITH CHECK ADD  CONSTRAINT [FK_ReceiptItems_Ingredients] FOREIGN KEY([IngredientId])
REFERENCES [dbo].[Ingredients] ([Id])
GO
ALTER TABLE [dbo].[ReceiptItems] CHECK CONSTRAINT [FK_ReceiptItems_Ingredients]
GO
ALTER TABLE [dbo].[ReceiptItems]  WITH CHECK ADD  CONSTRAINT [FK_ReceiptItems_Receipts] FOREIGN KEY([ReceiptId])
REFERENCES [dbo].[Receipts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReceiptItems] CHECK CONSTRAINT [FK_ReceiptItems_Receipts]
GO
ALTER TABLE [dbo].[Receipts]  WITH CHECK ADD  CONSTRAINT [FK_Receipts_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Receipts] CHECK CONSTRAINT [FK_Receipts_Users]
GO
ALTER TABLE [dbo].[RevisionItems]  WITH CHECK ADD  CONSTRAINT [FK_RevisionItems_Ingredients] FOREIGN KEY([IngredientId])
REFERENCES [dbo].[Ingredients] ([Id])
GO
ALTER TABLE [dbo].[RevisionItems] CHECK CONSTRAINT [FK_RevisionItems_Ingredients]
GO
ALTER TABLE [dbo].[RevisionItems]  WITH CHECK ADD  CONSTRAINT [FK_RevisionItems_Revisions] FOREIGN KEY([RevisionId])
REFERENCES [dbo].[Revisions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RevisionItems] CHECK CONSTRAINT [FK_RevisionItems_Revisions]
GO
ALTER TABLE [dbo].[Revisions]  WITH CHECK ADD  CONSTRAINT [FK_Revisions_Users] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Revisions] CHECK CONSTRAINT [FK_Revisions_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD  CONSTRAINT [CK_Ingredients_Quantity] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Ingredients] CHECK CONSTRAINT [CK_Ingredients_Quantity]
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD  CONSTRAINT [CK_InvoiceItems_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[InvoiceItems] CHECK CONSTRAINT [CK_InvoiceItems_Quantity]
GO
ALTER TABLE [dbo].[ReceiptItems]  WITH CHECK ADD  CONSTRAINT [CK_ReceiptItems_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[ReceiptItems] CHECK CONSTRAINT [CK_ReceiptItems_Quantity]
GO
USE [master]
GO
